$red: #f54748;
$orange: #ff9730;
$blue: #343f56;
$pink: #fd5f7a;
$green: #2fb93a;
$yellow: #fdde35;
$black: #333;
$white: #eee;

.txt-red {
  color: $red;
}

.txt-orange {
  color: $orange;
}

.txt-blue {
  color: $blue;
}

.txt-pink {
  color: $pink;
}

.txt-green {
  color: $green;
}

.txt-yellow {
  color: $yellow;
}

.txt-white {
  color: $white;
}

.txt-black {
  color: $black;
}

.bg-red {
  background-color: $red;
}

.bg-orange {
  background-color: $orange;
}

.bg-blue {
  background-color: $blue;
}

.bg-pink {
  background-color: $pink;
}

.bg-green {
  background-color: $green;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-white {
  background-color: $white;
}

.bg-black {
  background-color: $black;
}
