.width-100-percent {
  width: 100%;
}

.width-50-percent {
  width: 50%;
}

.auto-width {
  width: auto;
}

.width-percent-0 {
  width: 0%;
}
.width-percent-1 {
  width: 1%;
}
.width-percent-2 {
  width: 2%;
}
.width-percent-3 {
  width: 3%;
}
.width-percent-4 {
  width: 4%;
}
.width-percent-5 {
  width: 5%;
}
.width-percent-6 {
  width: 6%;
}
.width-percent-7 {
  width: 7%;
}
.width-percent-8 {
  width: 8%;
}
.width-percent-9 {
  width: 9%;
}
.width-percent-10 {
  width: 10%;
}
.width-percent-11 {
  width: 11%;
}
.width-percent-12 {
  width: 12%;
}
.width-percent-13 {
  width: 13%;
}
.width-percent-14 {
  width: 14%;
}
.width-percent-15 {
  width: 15%;
}
.width-percent-16 {
  width: 16%;
}
.width-percent-17 {
  width: 17%;
}
.width-percent-18 {
  width: 18%;
}
.width-percent-19 {
  width: 19%;
}
.width-percent-20 {
  width: 20%;
}
.width-percent-21 {
  width: 21%;
}
.width-percent-22 {
  width: 22%;
}
.width-percent-23 {
  width: 23%;
}
.width-percent-24 {
  width: 24%;
}
.width-percent-25 {
  width: 25%;
}
.width-percent-26 {
  width: 26%;
}
.width-percent-27 {
  width: 27%;
}
.width-percent-28 {
  width: 28%;
}
.width-percent-29 {
  width: 29%;
}
.width-percent-30 {
  width: 30%;
}
.width-percent-31 {
  width: 31%;
}
.width-percent-32 {
  width: 32%;
}
.width-percent-33 {
  width: 33%;
}
.width-percent-34 {
  width: 34%;
}
.width-percent-35 {
  width: 35%;
}
.width-percent-36 {
  width: 36%;
}
.width-percent-37 {
  width: 37%;
}
.width-percent-38 {
  width: 38%;
}
.width-percent-39 {
  width: 39%;
}
.width-percent-40 {
  width: 40%;
}
.width-percent-41 {
  width: 41%;
}
.width-percent-42 {
  width: 42%;
}
.width-percent-43 {
  width: 43%;
}
.width-percent-44 {
  width: 44%;
}
.width-percent-45 {
  width: 45%;
}
.width-percent-46 {
  width: 46%;
}
.width-percent-47 {
  width: 47%;
}
.width-percent-48 {
  width: 48%;
}
.width-percent-49 {
  width: 49%;
}
.width-percent-50 {
  width: 50%;
}
.width-percent-51 {
  width: 51%;
}
.width-percent-52 {
  width: 52%;
}
.width-percent-53 {
  width: 53%;
}
.width-percent-54 {
  width: 54%;
}
.width-percent-55 {
  width: 55%;
}
.width-percent-56 {
  width: 56%;
}
.width-percent-57 {
  width: 57%;
}
.width-percent-58 {
  width: 58%;
}
.width-percent-59 {
  width: 59%;
}
.width-percent-60 {
  width: 60%;
}
.width-percent-61 {
  width: 61%;
}
.width-percent-62 {
  width: 62%;
}
.width-percent-63 {
  width: 63%;
}
.width-percent-64 {
  width: 64%;
}
.width-percent-65 {
  width: 65%;
}
.width-percent-66 {
  width: 66%;
}
.width-percent-67 {
  width: 67%;
}
.width-percent-68 {
  width: 68%;
}
.width-percent-69 {
  width: 69%;
}
.width-percent-70 {
  width: 70%;
}
.width-percent-71 {
  width: 71%;
}
.width-percent-72 {
  width: 72%;
}
.width-percent-73 {
  width: 73%;
}
.width-percent-74 {
  width: 74%;
}
.width-percent-75 {
  width: 75%;
}
.width-percent-76 {
  width: 76%;
}
.width-percent-77 {
  width: 77%;
}
.width-percent-78 {
  width: 78%;
}
.width-percent-79 {
  width: 79%;
}
.width-percent-80 {
  width: 80%;
}
.width-percent-81 {
  width: 81%;
}
.width-percent-82 {
  width: 82%;
}
.width-percent-83 {
  width: 83%;
}
.width-percent-84 {
  width: 84%;
}
.width-percent-85 {
  width: 85%;
}
.width-percent-86 {
  width: 86%;
}
.width-percent-87 {
  width: 87%;
}
.width-percent-88 {
  width: 88%;
}
.width-percent-89 {
  width: 89%;
}
.width-percent-90 {
  width: 90%;
}
.width-percent-91 {
  width: 91%;
}
.width-percent-92 {
  width: 92%;
}
.width-percent-93 {
  width: 93%;
}
.width-percent-94 {
  width: 94%;
}
.width-percent-95 {
  width: 95%;
}
.width-percent-96 {
  width: 96%;
}
.width-percent-97 {
  width: 97%;
}
.width-percent-98 {
  width: 98%;
}
.width-percent-99 {
  width: 99%;
}

.width-px-0 {
  width: 0px !important ;
}
.width-px-1 {
  width: 1px !important ;
}
.width-px-2 {
  width: 2px !important ;
}
.width-px-3 {
  width: 3px !important ;
}
.width-px-4 {
  width: 4px !important ;
}
.width-px-5 {
  width: 5px !important ;
}
.width-px-6 {
  width: 6px !important ;
}
.width-px-7 {
  width: 7px !important ;
}
.width-px-8 {
  width: 8px !important ;
}
.width-px-9 {
  width: 9px !important ;
}
.width-px-10 {
  width: 10px !important ;
}
.width-px-11 {
  width: 11px !important ;
}
.width-px-12 {
  width: 12px !important ;
}
.width-px-13 {
  width: 13px !important ;
}
.width-px-14 {
  width: 14px !important ;
}
.width-px-15 {
  width: 15px !important ;
}
.width-px-16 {
  width: 16px !important ;
}
.width-px-17 {
  width: 17px !important ;
}
.width-px-18 {
  width: 18px !important ;
}
.width-px-19 {
  width: 19px !important ;
}
.width-px-20 {
  width: 20px !important ;
}
.width-px-21 {
  width: 21px !important ;
}
.width-px-22 {
  width: 22px !important ;
}
.width-px-23 {
  width: 23px !important ;
}
.width-px-24 {
  width: 24px !important ;
}
.width-px-25 {
  width: 25px !important ;
}
.width-px-26 {
  width: 26px !important ;
}
.width-px-27 {
  width: 27px !important ;
}
.width-px-28 {
  width: 28px !important ;
}
.width-px-29 {
  width: 29px !important ;
}
.width-px-30 {
  width: 30px !important ;
}
.width-px-31 {
  width: 31px !important ;
}
.width-px-32 {
  width: 32px !important ;
}
.width-px-33 {
  width: 33px !important ;
}
.width-px-34 {
  width: 34px !important ;
}
.width-px-35 {
  width: 35px !important ;
}
.width-px-36 {
  width: 36px !important ;
}
.width-px-37 {
  width: 37px !important ;
}
.width-px-38 {
  width: 38px !important ;
}
.width-px-39 {
  width: 39px !important ;
}
.width-px-40 {
  width: 40px !important ;
}
.width-px-41 {
  width: 41px !important ;
}
.width-px-42 {
  width: 42px !important ;
}
.width-px-43 {
  width: 43px !important ;
}
.width-px-44 {
  width: 44px !important ;
}
.width-px-45 {
  width: 45px !important ;
}
.width-px-46 {
  width: 46px !important ;
}
.width-px-47 {
  width: 47px !important ;
}
.width-px-48 {
  width: 48px !important ;
}
.width-px-49 {
  width: 49px !important ;
}
.width-px-50 {
  width: 50px !important ;
}
.width-px-51 {
  width: 51px !important ;
}
.width-px-52 {
  width: 52px !important ;
}
.width-px-53 {
  width: 53px !important ;
}
.width-px-54 {
  width: 54px !important ;
}
.width-px-55 {
  width: 55px !important ;
}
.width-px-56 {
  width: 56px !important ;
}
.width-px-57 {
  width: 57px !important ;
}
.width-px-58 {
  width: 58px !important ;
}
.width-px-59 {
  width: 59px !important ;
}
.width-px-60 {
  width: 60px !important ;
}
.width-px-61 {
  width: 61px !important ;
}
.width-px-62 {
  width: 62px !important ;
}
.width-px-63 {
  width: 63px !important ;
}
.width-px-64 {
  width: 64px !important ;
}
.width-px-65 {
  width: 65px !important ;
}
.width-px-66 {
  width: 66px !important ;
}
.width-px-67 {
  width: 67px !important ;
}
.width-px-68 {
  width: 68px !important ;
}
.width-px-69 {
  width: 69px !important ;
}
.width-px-70 {
  width: 70px !important ;
}
.width-px-71 {
  width: 71px !important ;
}
.width-px-72 {
  width: 72px !important ;
}
.width-px-73 {
  width: 73px !important ;
}
.width-px-74 {
  width: 74px !important ;
}
.width-px-75 {
  width: 75px !important ;
}
.width-px-76 {
  width: 76px !important ;
}
.width-px-77 {
  width: 77px !important ;
}
.width-px-78 {
  width: 78px !important ;
}
.width-px-79 {
  width: 79px !important ;
}
.width-px-80 {
  width: 80px !important ;
}
.width-px-81 {
  width: 81px !important ;
}
.width-px-82 {
  width: 82px !important ;
}
.width-px-83 {
  width: 83px !important ;
}
.width-px-84 {
  width: 84px !important ;
}
.width-px-85 {
  width: 85px !important ;
}
.width-px-86 {
  width: 86px !important ;
}
.width-px-87 {
  width: 87px !important ;
}
.width-px-88 {
  width: 88px !important ;
}
.width-px-89 {
  width: 89px !important ;
}
.width-px-90 {
  width: 90px !important ;
}
.width-px-91 {
  width: 91px !important ;
}
.width-px-92 {
  width: 92px !important ;
}
.width-px-93 {
  width: 93px !important ;
}
.width-px-94 {
  width: 94px !important ;
}
.width-px-95 {
  width: 95px !important ;
}
.width-px-96 {
  width: 96px !important ;
}
.width-px-97 {
  width: 97px !important ;
}
.width-px-98 {
  width: 98px !important ;
}
.width-px-99 {
  width: 99px !important ;
}
