.fontpx0 {
  font-size: 0px !important ;
}
.fontpx1 {
  font-size: 1px !important ;
}
.fontpx2 {
  font-size: 2px !important ;
}
.fontpx3 {
  font-size: 3px !important ;
}
.fontpx4 {
  font-size: 4px !important ;
}
.fontpx5 {
  font-size: 5px !important ;
}
.fontpx6 {
  font-size: 6px !important ;
}
.fontpx7 {
  font-size: 7px !important ;
}
.fontpx8 {
  font-size: 8px !important ;
}
.fontpx9 {
  font-size: 9px !important ;
}
.fontpx10 {
  font-size: 10px !important ;
}
.fontpx11 {
  font-size: 11px !important ;
}
.fontpx12 {
  font-size: 12px !important ;
}
.fontpx13 {
  font-size: 13px !important ;
}
.fontpx14 {
  font-size: 14px !important ;
}
.fontpx15 {
  font-size: 15px !important ;
}
.fontpx16 {
  font-size: 16px !important ;
}
.fontpx17 {
  font-size: 17px !important ;
}
.fontpx18 {
  font-size: 18px !important ;
}
.fontpx19 {
  font-size: 19px !important ;
}
.fontpx20 {
  font-size: 20px !important ;
}
.fontpx21 {
  font-size: 21px !important ;
}
.fontpx22 {
  font-size: 22px !important ;
}
.fontpx23 {
  font-size: 23px !important ;
}
.fontpx24 {
  font-size: 24px !important ;
}
.fontpx25 {
  font-size: 25px !important ;
}
.fontpx26 {
  font-size: 26px !important ;
}
.fontpx27 {
  font-size: 27px !important ;
}
.fontpx28 {
  font-size: 28px !important ;
}
.fontpx29 {
  font-size: 29px !important ;
}
.fontpx30 {
  font-size: 30px !important ;
}
.fontpx31 {
  font-size: 31px !important ;
}
.fontpx32 {
  font-size: 32px !important ;
}
.fontpx33 {
  font-size: 33px !important ;
}
.fontpx34 {
  font-size: 34px !important ;
}
.fontpx35 {
  font-size: 35px !important ;
}
.fontpx36 {
  font-size: 36px !important ;
}
.fontpx37 {
  font-size: 37px !important ;
}
.fontpx38 {
  font-size: 38px !important ;
}
.fontpx39 {
  font-size: 39px !important ;
}
.fontpx40 {
  font-size: 40px !important ;
}
.fontpx41 {
  font-size: 41px !important ;
}
.fontpx42 {
  font-size: 42px !important ;
}
.fontpx43 {
  font-size: 43px !important ;
}
.fontpx44 {
  font-size: 44px !important ;
}
.fontpx45 {
  font-size: 45px !important ;
}
.fontpx46 {
  font-size: 46px !important ;
}
.fontpx47 {
  font-size: 47px !important ;
}
.fontpx48 {
  font-size: 48px !important ;
}
.fontpx49 {
  font-size: 49px !important ;
}
.fontpx50 {
  font-size: 50px !important ;
}
.fontpx51 {
  font-size: 51px !important ;
}
.fontpx52 {
  font-size: 52px !important ;
}
.fontpx53 {
  font-size: 53px !important ;
}
.fontpx54 {
  font-size: 54px !important ;
}
.fontpx55 {
  font-size: 55px !important ;
}
.fontpx56 {
  font-size: 56px !important ;
}
.fontpx57 {
  font-size: 57px !important ;
}
.fontpx58 {
  font-size: 58px !important ;
}
.fontpx59 {
  font-size: 59px !important ;
}
.fontpx60 {
  font-size: 60px !important ;
}
.fontpx61 {
  font-size: 61px !important ;
}
.fontpx62 {
  font-size: 62px !important ;
}
.fontpx63 {
  font-size: 63px !important ;
}
.fontpx64 {
  font-size: 64px !important ;
}
.fontpx65 {
  font-size: 65px !important ;
}
.fontpx66 {
  font-size: 66px !important ;
}
.fontpx67 {
  font-size: 67px !important ;
}
.fontpx68 {
  font-size: 68px !important ;
}
.fontpx69 {
  font-size: 69px !important ;
}
.fontpx70 {
  font-size: 70px !important ;
}
.fontpx71 {
  font-size: 71px !important ;
}
.fontpx72 {
  font-size: 72px !important ;
}
.fontpx73 {
  font-size: 73px !important ;
}
.fontpx74 {
  font-size: 74px !important ;
}
.fontpx75 {
  font-size: 75px !important ;
}
.fontpx76 {
  font-size: 76px !important ;
}
.fontpx77 {
  font-size: 77px !important ;
}
.fontpx78 {
  font-size: 78px !important ;
}
.fontpx79 {
  font-size: 79px !important ;
}
.fontpx80 {
  font-size: 80px !important ;
}
.fontpx81 {
  font-size: 81px !important ;
}
.fontpx82 {
  font-size: 82px !important ;
}
.fontpx83 {
  font-size: 83px !important ;
}
.fontpx84 {
  font-size: 84px !important ;
}
.fontpx85 {
  font-size: 85px !important ;
}
.fontpx86 {
  font-size: 86px !important ;
}
.fontpx87 {
  font-size: 87px !important ;
}
.fontpx88 {
  font-size: 88px !important ;
}
.fontpx89 {
  font-size: 89px !important ;
}
.fontpx90 {
  font-size: 90px !important ;
}
.fontpx91 {
  font-size: 91px !important ;
}
.fontpx92 {
  font-size: 92px !important ;
}
.fontpx93 {
  font-size: 93px !important ;
}
.fontpx94 {
  font-size: 94px !important ;
}
.fontpx95 {
  font-size: 95px !important ;
}
.fontpx96 {
  font-size: 96px !important ;
}
.fontpx97 {
  font-size: 97px !important ;
}
.fontpx98 {
  font-size: 98px !important ;
}
.fontpx99 {
  font-size: 99px !important ;
}
