.fontpx0 {
    fontsize: 0px !important ;
  }
  .fontpx1 {
    fontsize: 1px !important ;
  }
  .fontpx2 {
    fontsize: 2px !important ;
  }
  .fontpx3 {
    fontsize: 3px !important ;
  }
  .fontpx4 {
    fontsize: 4px !important ;
  }
  .fontpx5 {
    fontsize: 5px !important ;
  }
  .fontpx6 {
    fontsize: 6px !important ;
  }
  .fontpx7 {
    fontsize: 7px !important ;
  }
  .fontpx8 {
    fontsize: 8px !important ;
  }
  .fontpx9 {
    fontsize: 9px !important ;
  }
  .fontpx10 {
    fontsize: 10px !important ;
  }
  .fontpx11 {
    fontsize: 11px !important ;
  }
  .fontpx12 {
    fontsize: 12px !important ;
  }
  .fontpx13 {
    fontsize: 13px !important ;
  }
  .fontpx14 {
    fontsize: 14px !important ;
  }
  .fontpx15 {
    fontsize: 15px !important ;
  }
  .fontpx16 {
    fontsize: 16px !important ;
  }
  .fontpx17 {
    fontsize: 17px !important ;
  }
  .fontpx18 {
    fontsize: 18px !important ;
  }
  .fontpx19 {
    fontsize: 19px !important ;
  }
  .fontpx20 {
    fontsize: 20px !important ;
  }
  .fontpx21 {
    fontsize: 21px !important ;
  }
  .fontpx22 {
    fontsize: 22px !important ;
  }
  .fontpx23 {
    fontsize: 23px !important ;
  }
  .fontpx24 {
    fontsize: 24px !important ;
  }
  .fontpx25 {
    fontsize: 25px !important ;
  }
  .fontpx26 {
    fontsize: 26px !important ;
  }
  .fontpx27 {
    fontsize: 27px !important ;
  }
  .fontpx28 {
    fontsize: 28px !important ;
  }
  .fontpx29 {
    fontsize: 29px !important ;
  }
  .fontpx30 {
    fontsize: 30px !important ;
  }
  .fontpx31 {
    fontsize: 31px !important ;
  }
  .fontpx32 {
    fontsize: 32px !important ;
  }
  .fontpx33 {
    fontsize: 33px !important ;
  }
  .fontpx34 {
    fontsize: 34px !important ;
  }
  .fontpx35 {
    fontsize: 35px !important ;
  }
  .fontpx36 {
    fontsize: 36px !important ;
  }
  .fontpx37 {
    fontsize: 37px !important ;
  }
  .fontpx38 {
    fontsize: 38px !important ;
  }
  .fontpx39 {
    fontsize: 39px !important ;
  }
  .fontpx40 {
    fontsize: 40px !important ;
  }
  .fontpx41 {
    fontsize: 41px !important ;
  }
  .fontpx42 {
    fontsize: 42px !important ;
  }
  .fontpx43 {
    fontsize: 43px !important ;
  }
  .fontpx44 {
    fontsize: 44px !important ;
  }
  .fontpx45 {
    fontsize: 45px !important ;
  }
  .fontpx46 {
    fontsize: 46px !important ;
  }
  .fontpx47 {
    fontsize: 47px !important ;
  }
  .fontpx48 {
    fontsize: 48px !important ;
  }
  .fontpx49 {
    fontsize: 49px !important ;
  }
  .fontpx50 {
    fontsize: 50px !important ;
  }
  .fontpx51 {
    fontsize: 51px !important ;
  }
  .fontpx52 {
    fontsize: 52px !important ;
  }
  .fontpx53 {
    fontsize: 53px !important ;
  }
  .fontpx54 {
    fontsize: 54px !important ;
  }
  .fontpx55 {
    fontsize: 55px !important ;
  }
  .fontpx56 {
    fontsize: 56px !important ;
  }
  .fontpx57 {
    fontsize: 57px !important ;
  }
  .fontpx58 {
    fontsize: 58px !important ;
  }
  .fontpx59 {
    fontsize: 59px !important ;
  }
  .fontpx60 {
    fontsize: 60px !important ;
  }
  .fontpx61 {
    fontsize: 61px !important ;
  }
  .fontpx62 {
    fontsize: 62px !important ;
  }
  .fontpx63 {
    fontsize: 63px !important ;
  }
  .fontpx64 {
    fontsize: 64px !important ;
  }
  .fontpx65 {
    fontsize: 65px !important ;
  }
  .fontpx66 {
    fontsize: 66px !important ;
  }
  .fontpx67 {
    fontsize: 67px !important ;
  }
  .fontpx68 {
    fontsize: 68px !important ;
  }
  .fontpx69 {
    fontsize: 69px !important ;
  }
  .fontpx70 {
    fontsize: 70px !important ;
  }
  .fontpx71 {
    fontsize: 71px !important ;
  }
  .fontpx72 {
    fontsize: 72px !important ;
  }
  .fontpx73 {
    fontsize: 73px !important ;
  }
  .fontpx74 {
    fontsize: 74px !important ;
  }
  .fontpx75 {
    fontsize: 75px !important ;
  }
  .fontpx76 {
    fontsize: 76px !important ;
  }
  .fontpx77 {
    fontsize: 77px !important ;
  }
  .fontpx78 {
    fontsize: 78px !important ;
  }
  .fontpx79 {
    fontsize: 79px !important ;
  }
  .fontpx80 {
    fontsize: 80px !important ;
  }
  .fontpx81 {
    fontsize: 81px !important ;
  }
  .fontpx82 {
    fontsize: 82px !important ;
  }
  .fontpx83 {
    fontsize: 83px !important ;
  }
  .fontpx84 {
    fontsize: 84px !important ;
  }
  .fontpx85 {
    fontsize: 85px !important ;
  }
  .fontpx86 {
    fontsize: 86px !important ;
  }
  .fontpx87 {
    fontsize: 87px !important ;
  }
  .fontpx88 {
    fontsize: 88px !important ;
  }
  .fontpx89 {
    fontsize: 89px !important ;
  }
  .fontpx90 {
    fontsize: 90px !important ;
  }
  .fontpx91 {
    fontsize: 91px !important ;
  }
  .fontpx92 {
    fontsize: 92px !important ;
  }
  .fontpx93 {
    fontsize: 93px !important ;
  }
  .fontpx94 {
    fontsize: 94px !important ;
  }
  .fontpx95 {
    fontsize: 95px !important ;
  }
  .fontpx96 {
    fontsize: 96px !important ;
  }
  .fontpx97 {
    fontsize: 97px !important ;
  }
  .fontpx98 {
    fontsize: 98px !important ;
  }
  .fontpx99 {
    fontsize: 99px !important ;
  }
  