.font-px-0 {
  font-size: 0px !important ;
}
.font-px-1 {
  font-size: 1px !important ;
}
.font-px-2 {
  font-size: 2px !important ;
}
.font-px-3 {
  font-size: 3px !important ;
}
.font-px-4 {
  font-size: 4px !important ;
}
.font-px-5 {
  font-size: 5px !important ;
}
.font-px-6 {
  font-size: 6px !important ;
}
.font-px-7 {
  font-size: 7px !important ;
}
.font-px-8 {
  font-size: 8px !important ;
}
.font-px-9 {
  font-size: 9px !important ;
}
.font-px-10 {
  font-size: 10px !important ;
}
.font-px-11 {
  font-size: 11px !important ;
}
.font-px-12 {
  font-size: 12px !important ;
}
.font-px-13 {
  font-size: 13px !important ;
}
.font-px-14 {
  font-size: 14px !important ;
}
.font-px-15 {
  font-size: 15px !important ;
}
.font-px-16 {
  font-size: 16px !important ;
}
.font-px-17 {
  font-size: 17px !important ;
}
.font-px-18 {
  font-size: 18px !important ;
}
.font-px-19 {
  font-size: 19px !important ;
}
.font-px-20 {
  font-size: 20px !important ;
}
.font-px-21 {
  font-size: 21px !important ;
}
.font-px-22 {
  font-size: 22px !important ;
}
.font-px-23 {
  font-size: 23px !important ;
}
.font-px-24 {
  font-size: 24px !important ;
}
.font-px-25 {
  font-size: 25px !important ;
}
.font-px-26 {
  font-size: 26px !important ;
}
.font-px-27 {
  font-size: 27px !important ;
}
.font-px-28 {
  font-size: 28px !important ;
}
.font-px-29 {
  font-size: 29px !important ;
}
.font-px-30 {
  font-size: 30px !important ;
}
.font-px-31 {
  font-size: 31px !important ;
}
.font-px-32 {
  font-size: 32px !important ;
}
.font-px-33 {
  font-size: 33px !important ;
}
.font-px-34 {
  font-size: 34px !important ;
}
.font-px-35 {
  font-size: 35px !important ;
}
.font-px-36 {
  font-size: 36px !important ;
}
.font-px-37 {
  font-size: 37px !important ;
}
.font-px-38 {
  font-size: 38px !important ;
}
.font-px-39 {
  font-size: 39px !important ;
}
.font-px-40 {
  font-size: 40px !important ;
}
.font-px-41 {
  font-size: 41px !important ;
}
.font-px-42 {
  font-size: 42px !important ;
}
.font-px-43 {
  font-size: 43px !important ;
}
.font-px-44 {
  font-size: 44px !important ;
}
.font-px-45 {
  font-size: 45px !important ;
}
.font-px-46 {
  font-size: 46px !important ;
}
.font-px-47 {
  font-size: 47px !important ;
}
.font-px-48 {
  font-size: 48px !important ;
}
.font-px-49 {
  font-size: 49px !important ;
}
.font-px-50 {
  font-size: 50px !important ;
}
.font-px-51 {
  font-size: 51px !important ;
}
.font-px-52 {
  font-size: 52px !important ;
}
.font-px-53 {
  font-size: 53px !important ;
}
.font-px-54 {
  font-size: 54px !important ;
}
.font-px-55 {
  font-size: 55px !important ;
}
.font-px-56 {
  font-size: 56px !important ;
}
.font-px-57 {
  font-size: 57px !important ;
}
.font-px-58 {
  font-size: 58px !important ;
}
.font-px-59 {
  font-size: 59px !important ;
}
.font-px-60 {
  font-size: 60px !important ;
}
.font-px-61 {
  font-size: 61px !important ;
}
.font-px-62 {
  font-size: 62px !important ;
}
.font-px-63 {
  font-size: 63px !important ;
}
.font-px-64 {
  font-size: 64px !important ;
}
.font-px-65 {
  font-size: 65px !important ;
}
.font-px-66 {
  font-size: 66px !important ;
}
.font-px-67 {
  font-size: 67px !important ;
}
.font-px-68 {
  font-size: 68px !important ;
}
.font-px-69 {
  font-size: 69px !important ;
}
.font-px-70 {
  font-size: 70px !important ;
}
.font-px-71 {
  font-size: 71px !important ;
}
.font-px-72 {
  font-size: 72px !important ;
}
.font-px-73 {
  font-size: 73px !important ;
}
.font-px-74 {
  font-size: 74px !important ;
}
.font-px-75 {
  font-size: 75px !important ;
}
.font-px-76 {
  font-size: 76px !important ;
}
.font-px-77 {
  font-size: 77px !important ;
}
.font-px-78 {
  font-size: 78px !important ;
}
.font-px-79 {
  font-size: 79px !important ;
}
.font-px-80 {
  font-size: 80px !important ;
}
.font-px-81 {
  font-size: 81px !important ;
}
.font-px-82 {
  font-size: 82px !important ;
}
.font-px-83 {
  font-size: 83px !important ;
}
.font-px-84 {
  font-size: 84px !important ;
}
.font-px-85 {
  font-size: 85px !important ;
}
.font-px-86 {
  font-size: 86px !important ;
}
.font-px-87 {
  font-size: 87px !important ;
}
.font-px-88 {
  font-size: 88px !important ;
}
.font-px-89 {
  font-size: 89px !important ;
}
.font-px-90 {
  font-size: 90px !important ;
}
.font-px-91 {
  font-size: 91px !important ;
}
.font-px-92 {
  font-size: 92px !important ;
}
.font-px-93 {
  font-size: 93px !important ;
}
.font-px-94 {
  font-size: 94px !important ;
}
.font-px-95 {
  font-size: 95px !important ;
}
.font-px-96 {
  font-size: 96px !important ;
}
.font-px-97 {
  font-size: 97px !important ;
}
.font-px-98 {
  font-size: 98px !important ;
}
.font-px-99 {
  font-size: 99px !important ;
}
