@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap");

@import "button/index";
@import "flex/index";
@import "font/index";
@import "margin/index";
@import "padding/index";
@import "position/index";
@import "size/index";
@import "color/index";
@import "position/index";
@import "grid/index";
@import "animations/index";

body,
html,
#root {
  font-family: "Karla", sans-serif;
  height: 100%;
  width: auto;
  background-color: $black;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
