@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap");

@import "card/index";
@import "flex/index";
@import "font/index";
@import "margin/index";
@import "padding/index";
@import "position/index";
@import "size/index";
@import "color/index";

body,
html,
#root {
  font-family: "Karla", sans-serif;
  height: 100%;
  width: 100%;
  background-color: $black;
}
