.left-px-0 {
  left: 0px;
}
.left-px-1 {
  left: 1px;
}
.left-px-2 {
  left: 2px;
}
.left-px-3 {
  left: 3px;
}
.left-px-4 {
  left: 4px;
}
.left-px-5 {
  left: 5px;
}
.left-px-6 {
  left: 6px;
}
.left-px-7 {
  left: 7px;
}
.left-px-8 {
  left: 8px;
}
.left-px-9 {
  left: 9px;
}
.left-px-10 {
  left: 10px;
}
.left-px-11 {
  left: 11px;
}
.left-px-12 {
  left: 12px;
}
.left-px-13 {
  left: 13px;
}
.left-px-14 {
  left: 14px;
}
.left-px-15 {
  left: 15px;
}
.left-px-16 {
  left: 16px;
}
.left-px-17 {
  left: 17px;
}
.left-px-18 {
  left: 18px;
}
.left-px-19 {
  left: 19px;
}
.left-px-20 {
  left: 20px;
}
.left-px-21 {
  left: 21px;
}
.left-px-22 {
  left: 22px;
}
.left-px-23 {
  left: 23px;
}
.left-px-24 {
  left: 24px;
}
.left-px-25 {
  left: 25px;
}
.left-px-26 {
  left: 26px;
}
.left-px-27 {
  left: 27px;
}
.left-px-28 {
  left: 28px;
}
.left-px-29 {
  left: 29px;
}
.left-px-30 {
  left: 30px;
}
.left-px-31 {
  left: 31px;
}
.left-px-32 {
  left: 32px;
}
.left-px-33 {
  left: 33px;
}
.left-px-34 {
  left: 34px;
}
.left-px-35 {
  left: 35px;
}
.left-px-36 {
  left: 36px;
}
.left-px-37 {
  left: 37px;
}
.left-px-38 {
  left: 38px;
}
.left-px-39 {
  left: 39px;
}
.left-px-40 {
  left: 40px;
}
.left-px-41 {
  left: 41px;
}
.left-px-42 {
  left: 42px;
}
.left-px-43 {
  left: 43px;
}
.left-px-44 {
  left: 44px;
}
.left-px-45 {
  left: 45px;
}
.left-px-46 {
  left: 46px;
}
.left-px-47 {
  left: 47px;
}
.left-px-48 {
  left: 48px;
}
.left-px-49 {
  left: 49px;
}
.left-px-50 {
  left: 50px;
}
.left-px-51 {
  left: 51px;
}
.left-px-52 {
  left: 52px;
}
.left-px-53 {
  left: 53px;
}
.left-px-54 {
  left: 54px;
}
.left-px-55 {
  left: 55px;
}
.left-px-56 {
  left: 56px;
}
.left-px-57 {
  left: 57px;
}
.left-px-58 {
  left: 58px;
}
.left-px-59 {
  left: 59px;
}
.left-px-60 {
  left: 60px;
}
.left-px-61 {
  left: 61px;
}
.left-px-62 {
  left: 62px;
}
.left-px-63 {
  left: 63px;
}
.left-px-64 {
  left: 64px;
}
.left-px-65 {
  left: 65px;
}
.left-px-66 {
  left: 66px;
}
.left-px-67 {
  left: 67px;
}
.left-px-68 {
  left: 68px;
}
.left-px-69 {
  left: 69px;
}
.left-px-70 {
  left: 70px;
}
.left-px-71 {
  left: 71px;
}
.left-px-72 {
  left: 72px;
}
.left-px-73 {
  left: 73px;
}
.left-px-74 {
  left: 74px;
}
.left-px-75 {
  left: 75px;
}
.left-px-76 {
  left: 76px;
}
.left-px-77 {
  left: 77px;
}
.left-px-78 {
  left: 78px;
}
.left-px-79 {
  left: 79px;
}
.left-px-80 {
  left: 80px;
}
.left-px-81 {
  left: 81px;
}
.left-px-82 {
  left: 82px;
}
.left-px-83 {
  left: 83px;
}
.left-px-84 {
  left: 84px;
}
.left-px-85 {
  left: 85px;
}
.left-px-86 {
  left: 86px;
}
.left-px-87 {
  left: 87px;
}
.left-px-88 {
  left: 88px;
}
.left-px-89 {
  left: 89px;
}
.left-px-90 {
  left: 90px;
}
.left-px-91 {
  left: 91px;
}
.left-px-92 {
  left: 92px;
}
.left-px-93 {
  left: 93px;
}
.left-px-94 {
  left: 94px;
}
.left-px-95 {
  left: 95px;
}
.left-px-96 {
  left: 96px;
}
.left-px-97 {
  left: 97px;
}
.left-px-98 {
  left: 98px;
}
.left-px-99 {
  left: 99px;
}

.right-px-0 {
  right: 0px;
}
.right-px-1 {
  right: 1px;
}
.right-px-2 {
  right: 2px;
}
.right-px-3 {
  right: 3px;
}
.right-px-4 {
  right: 4px;
}
.right-px-5 {
  right: 5px;
}
.right-px-6 {
  right: 6px;
}
.right-px-7 {
  right: 7px;
}
.right-px-8 {
  right: 8px;
}
.right-px-9 {
  right: 9px;
}
.right-px-10 {
  right: 10px;
}
.right-px-11 {
  right: 11px;
}
.right-px-12 {
  right: 12px;
}
.right-px-13 {
  right: 13px;
}
.right-px-14 {
  right: 14px;
}
.right-px-15 {
  right: 15px;
}
.right-px-16 {
  right: 16px;
}
.right-px-17 {
  right: 17px;
}
.right-px-18 {
  right: 18px;
}
.right-px-19 {
  right: 19px;
}
.right-px-20 {
  right: 20px;
}
.right-px-21 {
  right: 21px;
}
.right-px-22 {
  right: 22px;
}
.right-px-23 {
  right: 23px;
}
.right-px-24 {
  right: 24px;
}
.right-px-25 {
  right: 25px;
}
.right-px-26 {
  right: 26px;
}
.right-px-27 {
  right: 27px;
}
.right-px-28 {
  right: 28px;
}
.right-px-29 {
  right: 29px;
}
.right-px-30 {
  right: 30px;
}
.right-px-31 {
  right: 31px;
}
.right-px-32 {
  right: 32px;
}
.right-px-33 {
  right: 33px;
}
.right-px-34 {
  right: 34px;
}
.right-px-35 {
  right: 35px;
}
.right-px-36 {
  right: 36px;
}
.right-px-37 {
  right: 37px;
}
.right-px-38 {
  right: 38px;
}
.right-px-39 {
  right: 39px;
}
.right-px-40 {
  right: 40px;
}
.right-px-41 {
  right: 41px;
}
.right-px-42 {
  right: 42px;
}
.right-px-43 {
  right: 43px;
}
.right-px-44 {
  right: 44px;
}
.right-px-45 {
  right: 45px;
}
.right-px-46 {
  right: 46px;
}
.right-px-47 {
  right: 47px;
}
.right-px-48 {
  right: 48px;
}
.right-px-49 {
  right: 49px;
}
.right-px-50 {
  right: 50px;
}
.right-px-51 {
  right: 51px;
}
.right-px-52 {
  right: 52px;
}
.right-px-53 {
  right: 53px;
}
.right-px-54 {
  right: 54px;
}
.right-px-55 {
  right: 55px;
}
.right-px-56 {
  right: 56px;
}
.right-px-57 {
  right: 57px;
}
.right-px-58 {
  right: 58px;
}
.right-px-59 {
  right: 59px;
}
.right-px-60 {
  right: 60px;
}
.right-px-61 {
  right: 61px;
}
.right-px-62 {
  right: 62px;
}
.right-px-63 {
  right: 63px;
}
.right-px-64 {
  right: 64px;
}
.right-px-65 {
  right: 65px;
}
.right-px-66 {
  right: 66px;
}
.right-px-67 {
  right: 67px;
}
.right-px-68 {
  right: 68px;
}
.right-px-69 {
  right: 69px;
}
.right-px-70 {
  right: 70px;
}
.right-px-71 {
  right: 71px;
}
.right-px-72 {
  right: 72px;
}
.right-px-73 {
  right: 73px;
}
.right-px-74 {
  right: 74px;
}
.right-px-75 {
  right: 75px;
}
.right-px-76 {
  right: 76px;
}
.right-px-77 {
  right: 77px;
}
.right-px-78 {
  right: 78px;
}
.right-px-79 {
  right: 79px;
}
.right-px-80 {
  right: 80px;
}
.right-px-81 {
  right: 81px;
}
.right-px-82 {
  right: 82px;
}
.right-px-83 {
  right: 83px;
}
.right-px-84 {
  right: 84px;
}
.right-px-85 {
  right: 85px;
}
.right-px-86 {
  right: 86px;
}
.right-px-87 {
  right: 87px;
}
.right-px-88 {
  right: 88px;
}
.right-px-89 {
  right: 89px;
}
.right-px-90 {
  right: 90px;
}
.right-px-91 {
  right: 91px;
}
.right-px-92 {
  right: 92px;
}
.right-px-93 {
  right: 93px;
}
.right-px-94 {
  right: 94px;
}
.right-px-95 {
  right: 95px;
}
.right-px-96 {
  right: 96px;
}
.right-px-97 {
  right: 97px;
}
.right-px-98 {
  right: 98px;
}
.right-px-99 {
  right: 99px;
}

.bottom-px-0 {
  bottom: 0px;
}
.bottom-px-1 {
  bottom: 1px;
}
.bottom-px-2 {
  bottom: 2px;
}
.bottom-px-3 {
  bottom: 3px;
}
.bottom-px-4 {
  bottom: 4px;
}
.bottom-px-5 {
  bottom: 5px;
}
.bottom-px-6 {
  bottom: 6px;
}
.bottom-px-7 {
  bottom: 7px;
}
.bottom-px-8 {
  bottom: 8px;
}
.bottom-px-9 {
  bottom: 9px;
}
.bottom-px-10 {
  bottom: 10px;
}
.bottom-px-11 {
  bottom: 11px;
}
.bottom-px-12 {
  bottom: 12px;
}
.bottom-px-13 {
  bottom: 13px;
}
.bottom-px-14 {
  bottom: 14px;
}
.bottom-px-15 {
  bottom: 15px;
}
.bottom-px-16 {
  bottom: 16px;
}
.bottom-px-17 {
  bottom: 17px;
}
.bottom-px-18 {
  bottom: 18px;
}
.bottom-px-19 {
  bottom: 19px;
}
.bottom-px-20 {
  bottom: 20px;
}
.bottom-px-21 {
  bottom: 21px;
}
.bottom-px-22 {
  bottom: 22px;
}
.bottom-px-23 {
  bottom: 23px;
}
.bottom-px-24 {
  bottom: 24px;
}
.bottom-px-25 {
  bottom: 25px;
}
.bottom-px-26 {
  bottom: 26px;
}
.bottom-px-27 {
  bottom: 27px;
}
.bottom-px-28 {
  bottom: 28px;
}
.bottom-px-29 {
  bottom: 29px;
}
.bottom-px-30 {
  bottom: 30px;
}
.bottom-px-31 {
  bottom: 31px;
}
.bottom-px-32 {
  bottom: 32px;
}
.bottom-px-33 {
  bottom: 33px;
}
.bottom-px-34 {
  bottom: 34px;
}
.bottom-px-35 {
  bottom: 35px;
}
.bottom-px-36 {
  bottom: 36px;
}
.bottom-px-37 {
  bottom: 37px;
}
.bottom-px-38 {
  bottom: 38px;
}
.bottom-px-39 {
  bottom: 39px;
}
.bottom-px-40 {
  bottom: 40px;
}
.bottom-px-41 {
  bottom: 41px;
}
.bottom-px-42 {
  bottom: 42px;
}
.bottom-px-43 {
  bottom: 43px;
}
.bottom-px-44 {
  bottom: 44px;
}
.bottom-px-45 {
  bottom: 45px;
}
.bottom-px-46 {
  bottom: 46px;
}
.bottom-px-47 {
  bottom: 47px;
}
.bottom-px-48 {
  bottom: 48px;
}
.bottom-px-49 {
  bottom: 49px;
}
.bottom-px-50 {
  bottom: 50px;
}
.bottom-px-51 {
  bottom: 51px;
}
.bottom-px-52 {
  bottom: 52px;
}
.bottom-px-53 {
  bottom: 53px;
}
.bottom-px-54 {
  bottom: 54px;
}
.bottom-px-55 {
  bottom: 55px;
}
.bottom-px-56 {
  bottom: 56px;
}
.bottom-px-57 {
  bottom: 57px;
}
.bottom-px-58 {
  bottom: 58px;
}
.bottom-px-59 {
  bottom: 59px;
}
.bottom-px-60 {
  bottom: 60px;
}
.bottom-px-61 {
  bottom: 61px;
}
.bottom-px-62 {
  bottom: 62px;
}
.bottom-px-63 {
  bottom: 63px;
}
.bottom-px-64 {
  bottom: 64px;
}
.bottom-px-65 {
  bottom: 65px;
}
.bottom-px-66 {
  bottom: 66px;
}
.bottom-px-67 {
  bottom: 67px;
}
.bottom-px-68 {
  bottom: 68px;
}
.bottom-px-69 {
  bottom: 69px;
}
.bottom-px-70 {
  bottom: 70px;
}
.bottom-px-71 {
  bottom: 71px;
}
.bottom-px-72 {
  bottom: 72px;
}
.bottom-px-73 {
  bottom: 73px;
}
.bottom-px-74 {
  bottom: 74px;
}
.bottom-px-75 {
  bottom: 75px;
}
.bottom-px-76 {
  bottom: 76px;
}
.bottom-px-77 {
  bottom: 77px;
}
.bottom-px-78 {
  bottom: 78px;
}
.bottom-px-79 {
  bottom: 79px;
}
.bottom-px-80 {
  bottom: 80px;
}
.bottom-px-81 {
  bottom: 81px;
}
.bottom-px-82 {
  bottom: 82px;
}
.bottom-px-83 {
  bottom: 83px;
}
.bottom-px-84 {
  bottom: 84px;
}
.bottom-px-85 {
  bottom: 85px;
}
.bottom-px-86 {
  bottom: 86px;
}
.bottom-px-87 {
  bottom: 87px;
}
.bottom-px-88 {
  bottom: 88px;
}
.bottom-px-89 {
  bottom: 89px;
}
.bottom-px-90 {
  bottom: 90px;
}
.bottom-px-91 {
  bottom: 91px;
}
.bottom-px-92 {
  bottom: 92px;
}
.bottom-px-93 {
  bottom: 93px;
}
.bottom-px-94 {
  bottom: 94px;
}
.bottom-px-95 {
  bottom: 95px;
}
.bottom-px-96 {
  bottom: 96px;
}
.bottom-px-97 {
  bottom: 97px;
}
.bottom-px-98 {
  bottom: 98px;
}
.bottom-px-99 {
  bottom: 99px;
}

.top-px-0 {
  top: 0px;
}
.top-px-1 {
  top: 1px;
}
.top-px-2 {
  top: 2px;
}
.top-px-3 {
  top: 3px;
}
.top-px-4 {
  top: 4px;
}
.top-px-5 {
  top: 5px;
}
.top-px-6 {
  top: 6px;
}
.top-px-7 {
  top: 7px;
}
.top-px-8 {
  top: 8px;
}
.top-px-9 {
  top: 9px;
}
.top-px-10 {
  top: 10px;
}
.top-px-11 {
  top: 11px;
}
.top-px-12 {
  top: 12px;
}
.top-px-13 {
  top: 13px;
}
.top-px-14 {
  top: 14px;
}
.top-px-15 {
  top: 15px;
}
.top-px-16 {
  top: 16px;
}
.top-px-17 {
  top: 17px;
}
.top-px-18 {
  top: 18px;
}
.top-px-19 {
  top: 19px;
}
.top-px-20 {
  top: 20px;
}
.top-px-21 {
  top: 21px;
}
.top-px-22 {
  top: 22px;
}
.top-px-23 {
  top: 23px;
}
.top-px-24 {
  top: 24px;
}
.top-px-25 {
  top: 25px;
}
.top-px-26 {
  top: 26px;
}
.top-px-27 {
  top: 27px;
}
.top-px-28 {
  top: 28px;
}
.top-px-29 {
  top: 29px;
}
.top-px-30 {
  top: 30px;
}
.top-px-31 {
  top: 31px;
}
.top-px-32 {
  top: 32px;
}
.top-px-33 {
  top: 33px;
}
.top-px-34 {
  top: 34px;
}
.top-px-35 {
  top: 35px;
}
.top-px-36 {
  top: 36px;
}
.top-px-37 {
  top: 37px;
}
.top-px-38 {
  top: 38px;
}
.top-px-39 {
  top: 39px;
}
.top-px-40 {
  top: 40px;
}
.top-px-41 {
  top: 41px;
}
.top-px-42 {
  top: 42px;
}
.top-px-43 {
  top: 43px;
}
.top-px-44 {
  top: 44px;
}
.top-px-45 {
  top: 45px;
}
.top-px-46 {
  top: 46px;
}
.top-px-47 {
  top: 47px;
}
.top-px-48 {
  top: 48px;
}
.top-px-49 {
  top: 49px;
}
.top-px-50 {
  top: 50px;
}
.top-px-51 {
  top: 51px;
}
.top-px-52 {
  top: 52px;
}
.top-px-53 {
  top: 53px;
}
.top-px-54 {
  top: 54px;
}
.top-px-55 {
  top: 55px;
}
.top-px-56 {
  top: 56px;
}
.top-px-57 {
  top: 57px;
}
.top-px-58 {
  top: 58px;
}
.top-px-59 {
  top: 59px;
}
.top-px-60 {
  top: 60px;
}
.top-px-61 {
  top: 61px;
}
.top-px-62 {
  top: 62px;
}
.top-px-63 {
  top: 63px;
}
.top-px-64 {
  top: 64px;
}
.top-px-65 {
  top: 65px;
}
.top-px-66 {
  top: 66px;
}
.top-px-67 {
  top: 67px;
}
.top-px-68 {
  top: 68px;
}
.top-px-69 {
  top: 69px;
}
.top-px-70 {
  top: 70px;
}
.top-px-71 {
  top: 71px;
}
.top-px-72 {
  top: 72px;
}
.top-px-73 {
  top: 73px;
}
.top-px-74 {
  top: 74px;
}
.top-px-75 {
  top: 75px;
}
.top-px-76 {
  top: 76px;
}
.top-px-77 {
  top: 77px;
}
.top-px-78 {
  top: 78px;
}
.top-px-79 {
  top: 79px;
}
.top-px-80 {
  top: 80px;
}
.top-px-81 {
  top: 81px;
}
.top-px-82 {
  top: 82px;
}
.top-px-83 {
  top: 83px;
}
.top-px-84 {
  top: 84px;
}
.top-px-85 {
  top: 85px;
}
.top-px-86 {
  top: 86px;
}
.top-px-87 {
  top: 87px;
}
.top-px-88 {
  top: 88px;
}
.top-px-89 {
  top: 89px;
}
.top-px-90 {
  top: 90px;
}
.top-px-91 {
  top: 91px;
}
.top-px-92 {
  top: 92px;
}
.top-px-93 {
  top: 93px;
}
.top-px-94 {
  top: 94px;
}
.top-px-95 {
  top: 95px;
}
.top-px-96 {
  top: 96px;
}
.top-px-97 {
  top: 97px;
}
.top-px-98 {
  top: 98px;
}
.top-px-99 {
  top: 99px;
}

.left-percent-0 {
  left: 0%;
}
.left-percent-1 {
  left: 1%;
}
.left-percent-2 {
  left: 2%;
}
.left-percent-3 {
  left: 3%;
}
.left-percent-4 {
  left: 4%;
}
.left-percent-5 {
  left: 5%;
}
.left-percent-6 {
  left: 6%;
}
.left-percent-7 {
  left: 7%;
}
.left-percent-8 {
  left: 8%;
}
.left-percent-9 {
  left: 9%;
}
.left-percent-10 {
  left: 10%;
}
.left-percent-11 {
  left: 11%;
}
.left-percent-12 {
  left: 12%;
}
.left-percent-13 {
  left: 13%;
}
.left-percent-14 {
  left: 14%;
}
.left-percent-15 {
  left: 15%;
}
.left-percent-16 {
  left: 16%;
}
.left-percent-17 {
  left: 17%;
}
.left-percent-18 {
  left: 18%;
}
.left-percent-19 {
  left: 19%;
}
.left-percent-20 {
  left: 20%;
}
.left-percent-21 {
  left: 21%;
}
.left-percent-22 {
  left: 22%;
}
.left-percent-23 {
  left: 23%;
}
.left-percent-24 {
  left: 24%;
}
.left-percent-25 {
  left: 25%;
}
.left-percent-26 {
  left: 26%;
}
.left-percent-27 {
  left: 27%;
}
.left-percent-28 {
  left: 28%;
}
.left-percent-29 {
  left: 29%;
}
.left-percent-30 {
  left: 30%;
}
.left-percent-31 {
  left: 31%;
}
.left-percent-32 {
  left: 32%;
}
.left-percent-33 {
  left: 33%;
}
.left-percent-34 {
  left: 34%;
}
.left-percent-35 {
  left: 35%;
}
.left-percent-36 {
  left: 36%;
}
.left-percent-37 {
  left: 37%;
}
.left-percent-38 {
  left: 38%;
}
.left-percent-39 {
  left: 39%;
}
.left-percent-40 {
  left: 40%;
}
.left-percent-41 {
  left: 41%;
}
.left-percent-42 {
  left: 42%;
}
.left-percent-43 {
  left: 43%;
}
.left-percent-44 {
  left: 44%;
}
.left-percent-45 {
  left: 45%;
}
.left-percent-46 {
  left: 46%;
}
.left-percent-47 {
  left: 47%;
}
.left-percent-48 {
  left: 48%;
}
.left-percent-49 {
  left: 49%;
}
.left-percent-50 {
  left: 50%;
}
.left-percent-51 {
  left: 51%;
}
.left-percent-52 {
  left: 52%;
}
.left-percent-53 {
  left: 53%;
}
.left-percent-54 {
  left: 54%;
}
.left-percent-55 {
  left: 55%;
}
.left-percent-56 {
  left: 56%;
}
.left-percent-57 {
  left: 57%;
}
.left-percent-58 {
  left: 58%;
}
.left-percent-59 {
  left: 59%;
}
.left-percent-60 {
  left: 60%;
}
.left-percent-61 {
  left: 61%;
}
.left-percent-62 {
  left: 62%;
}
.left-percent-63 {
  left: 63%;
}
.left-percent-64 {
  left: 64%;
}
.left-percent-65 {
  left: 65%;
}
.left-percent-66 {
  left: 66%;
}
.left-percent-67 {
  left: 67%;
}
.left-percent-68 {
  left: 68%;
}
.left-percent-69 {
  left: 69%;
}
.left-percent-70 {
  left: 70%;
}
.left-percent-71 {
  left: 71%;
}
.left-percent-72 {
  left: 72%;
}
.left-percent-73 {
  left: 73%;
}
.left-percent-74 {
  left: 74%;
}
.left-percent-75 {
  left: 75%;
}
.left-percent-76 {
  left: 76%;
}
.left-percent-77 {
  left: 77%;
}
.left-percent-78 {
  left: 78%;
}
.left-percent-79 {
  left: 79%;
}
.left-percent-80 {
  left: 80%;
}
.left-percent-81 {
  left: 81%;
}
.left-percent-82 {
  left: 82%;
}
.left-percent-83 {
  left: 83%;
}
.left-percent-84 {
  left: 84%;
}
.left-percent-85 {
  left: 85%;
}
.left-percent-86 {
  left: 86%;
}
.left-percent-87 {
  left: 87%;
}
.left-percent-88 {
  left: 88%;
}
.left-percent-89 {
  left: 89%;
}
.left-percent-90 {
  left: 90%;
}
.left-percent-91 {
  left: 91%;
}
.left-percent-92 {
  left: 92%;
}
.left-percent-93 {
  left: 93%;
}
.left-percent-94 {
  left: 94%;
}
.left-percent-95 {
  left: 95%;
}
.left-percent-96 {
  left: 96%;
}
.left-percent-97 {
  left: 97%;
}
.left-percent-98 {
  left: 98%;
}
.left-percent-99 {
  left: 99%;
}

.right-percent-0 {
  right: 0%;
}
.right-percent-1 {
  right: 1%;
}
.right-percent-2 {
  right: 2%;
}
.right-percent-3 {
  right: 3%;
}
.right-percent-4 {
  right: 4%;
}
.right-percent-5 {
  right: 5%;
}
.right-percent-6 {
  right: 6%;
}
.right-percent-7 {
  right: 7%;
}
.right-percent-8 {
  right: 8%;
}
.right-percent-9 {
  right: 9%;
}
.right-percent-10 {
  right: 10%;
}
.right-percent-11 {
  right: 11%;
}
.right-percent-12 {
  right: 12%;
}
.right-percent-13 {
  right: 13%;
}
.right-percent-14 {
  right: 14%;
}
.right-percent-15 {
  right: 15%;
}
.right-percent-16 {
  right: 16%;
}
.right-percent-17 {
  right: 17%;
}
.right-percent-18 {
  right: 18%;
}
.right-percent-19 {
  right: 19%;
}
.right-percent-20 {
  right: 20%;
}
.right-percent-21 {
  right: 21%;
}
.right-percent-22 {
  right: 22%;
}
.right-percent-23 {
  right: 23%;
}
.right-percent-24 {
  right: 24%;
}
.right-percent-25 {
  right: 25%;
}
.right-percent-26 {
  right: 26%;
}
.right-percent-27 {
  right: 27%;
}
.right-percent-28 {
  right: 28%;
}
.right-percent-29 {
  right: 29%;
}
.right-percent-30 {
  right: 30%;
}
.right-percent-31 {
  right: 31%;
}
.right-percent-32 {
  right: 32%;
}
.right-percent-33 {
  right: 33%;
}
.right-percent-34 {
  right: 34%;
}
.right-percent-35 {
  right: 35%;
}
.right-percent-36 {
  right: 36%;
}
.right-percent-37 {
  right: 37%;
}
.right-percent-38 {
  right: 38%;
}
.right-percent-39 {
  right: 39%;
}
.right-percent-40 {
  right: 40%;
}
.right-percent-41 {
  right: 41%;
}
.right-percent-42 {
  right: 42%;
}
.right-percent-43 {
  right: 43%;
}
.right-percent-44 {
  right: 44%;
}
.right-percent-45 {
  right: 45%;
}
.right-percent-46 {
  right: 46%;
}
.right-percent-47 {
  right: 47%;
}
.right-percent-48 {
  right: 48%;
}
.right-percent-49 {
  right: 49%;
}
.right-percent-50 {
  right: 50%;
}
.right-percent-51 {
  right: 51%;
}
.right-percent-52 {
  right: 52%;
}
.right-percent-53 {
  right: 53%;
}
.right-percent-54 {
  right: 54%;
}
.right-percent-55 {
  right: 55%;
}
.right-percent-56 {
  right: 56%;
}
.right-percent-57 {
  right: 57%;
}
.right-percent-58 {
  right: 58%;
}
.right-percent-59 {
  right: 59%;
}
.right-percent-60 {
  right: 60%;
}
.right-percent-61 {
  right: 61%;
}
.right-percent-62 {
  right: 62%;
}
.right-percent-63 {
  right: 63%;
}
.right-percent-64 {
  right: 64%;
}
.right-percent-65 {
  right: 65%;
}
.right-percent-66 {
  right: 66%;
}
.right-percent-67 {
  right: 67%;
}
.right-percent-68 {
  right: 68%;
}
.right-percent-69 {
  right: 69%;
}
.right-percent-70 {
  right: 70%;
}
.right-percent-71 {
  right: 71%;
}
.right-percent-72 {
  right: 72%;
}
.right-percent-73 {
  right: 73%;
}
.right-percent-74 {
  right: 74%;
}
.right-percent-75 {
  right: 75%;
}
.right-percent-76 {
  right: 76%;
}
.right-percent-77 {
  right: 77%;
}
.right-percent-78 {
  right: 78%;
}
.right-percent-79 {
  right: 79%;
}
.right-percent-80 {
  right: 80%;
}
.right-percent-81 {
  right: 81%;
}
.right-percent-82 {
  right: 82%;
}
.right-percent-83 {
  right: 83%;
}
.right-percent-84 {
  right: 84%;
}
.right-percent-85 {
  right: 85%;
}
.right-percent-86 {
  right: 86%;
}
.right-percent-87 {
  right: 87%;
}
.right-percent-88 {
  right: 88%;
}
.right-percent-89 {
  right: 89%;
}
.right-percent-90 {
  right: 90%;
}
.right-percent-91 {
  right: 91%;
}
.right-percent-92 {
  right: 92%;
}
.right-percent-93 {
  right: 93%;
}
.right-percent-94 {
  right: 94%;
}
.right-percent-95 {
  right: 95%;
}
.right-percent-96 {
  right: 96%;
}
.right-percent-97 {
  right: 97%;
}
.right-percent-98 {
  right: 98%;
}
.right-percent-99 {
  right: 99%;
}

.bottom-percent-0 {
  bottom: 0%;
}
.bottom-percent-1 {
  bottom: 1%;
}
.bottom-percent-2 {
  bottom: 2%;
}
.bottom-percent-3 {
  bottom: 3%;
}
.bottom-percent-4 {
  bottom: 4%;
}
.bottom-percent-5 {
  bottom: 5%;
}
.bottom-percent-6 {
  bottom: 6%;
}
.bottom-percent-7 {
  bottom: 7%;
}
.bottom-percent-8 {
  bottom: 8%;
}
.bottom-percent-9 {
  bottom: 9%;
}
.bottom-percent-10 {
  bottom: 10%;
}
.bottom-percent-11 {
  bottom: 11%;
}
.bottom-percent-12 {
  bottom: 12%;
}
.bottom-percent-13 {
  bottom: 13%;
}
.bottom-percent-14 {
  bottom: 14%;
}
.bottom-percent-15 {
  bottom: 15%;
}
.bottom-percent-16 {
  bottom: 16%;
}
.bottom-percent-17 {
  bottom: 17%;
}
.bottom-percent-18 {
  bottom: 18%;
}
.bottom-percent-19 {
  bottom: 19%;
}
.bottom-percent-20 {
  bottom: 20%;
}
.bottom-percent-21 {
  bottom: 21%;
}
.bottom-percent-22 {
  bottom: 22%;
}
.bottom-percent-23 {
  bottom: 23%;
}
.bottom-percent-24 {
  bottom: 24%;
}
.bottom-percent-25 {
  bottom: 25%;
}
.bottom-percent-26 {
  bottom: 26%;
}
.bottom-percent-27 {
  bottom: 27%;
}
.bottom-percent-28 {
  bottom: 28%;
}
.bottom-percent-29 {
  bottom: 29%;
}
.bottom-percent-30 {
  bottom: 30%;
}
.bottom-percent-31 {
  bottom: 31%;
}
.bottom-percent-32 {
  bottom: 32%;
}
.bottom-percent-33 {
  bottom: 33%;
}
.bottom-percent-34 {
  bottom: 34%;
}
.bottom-percent-35 {
  bottom: 35%;
}
.bottom-percent-36 {
  bottom: 36%;
}
.bottom-percent-37 {
  bottom: 37%;
}
.bottom-percent-38 {
  bottom: 38%;
}
.bottom-percent-39 {
  bottom: 39%;
}
.bottom-percent-40 {
  bottom: 40%;
}
.bottom-percent-41 {
  bottom: 41%;
}
.bottom-percent-42 {
  bottom: 42%;
}
.bottom-percent-43 {
  bottom: 43%;
}
.bottom-percent-44 {
  bottom: 44%;
}
.bottom-percent-45 {
  bottom: 45%;
}
.bottom-percent-46 {
  bottom: 46%;
}
.bottom-percent-47 {
  bottom: 47%;
}
.bottom-percent-48 {
  bottom: 48%;
}
.bottom-percent-49 {
  bottom: 49%;
}
.bottom-percent-50 {
  bottom: 50%;
}
.bottom-percent-51 {
  bottom: 51%;
}
.bottom-percent-52 {
  bottom: 52%;
}
.bottom-percent-53 {
  bottom: 53%;
}
.bottom-percent-54 {
  bottom: 54%;
}
.bottom-percent-55 {
  bottom: 55%;
}
.bottom-percent-56 {
  bottom: 56%;
}
.bottom-percent-57 {
  bottom: 57%;
}
.bottom-percent-58 {
  bottom: 58%;
}
.bottom-percent-59 {
  bottom: 59%;
}
.bottom-percent-60 {
  bottom: 60%;
}
.bottom-percent-61 {
  bottom: 61%;
}
.bottom-percent-62 {
  bottom: 62%;
}
.bottom-percent-63 {
  bottom: 63%;
}
.bottom-percent-64 {
  bottom: 64%;
}
.bottom-percent-65 {
  bottom: 65%;
}
.bottom-percent-66 {
  bottom: 66%;
}
.bottom-percent-67 {
  bottom: 67%;
}
.bottom-percent-68 {
  bottom: 68%;
}
.bottom-percent-69 {
  bottom: 69%;
}
.bottom-percent-70 {
  bottom: 70%;
}
.bottom-percent-71 {
  bottom: 71%;
}
.bottom-percent-72 {
  bottom: 72%;
}
.bottom-percent-73 {
  bottom: 73%;
}
.bottom-percent-74 {
  bottom: 74%;
}
.bottom-percent-75 {
  bottom: 75%;
}
.bottom-percent-76 {
  bottom: 76%;
}
.bottom-percent-77 {
  bottom: 77%;
}
.bottom-percent-78 {
  bottom: 78%;
}
.bottom-percent-79 {
  bottom: 79%;
}
.bottom-percent-80 {
  bottom: 80%;
}
.bottom-percent-81 {
  bottom: 81%;
}
.bottom-percent-82 {
  bottom: 82%;
}
.bottom-percent-83 {
  bottom: 83%;
}
.bottom-percent-84 {
  bottom: 84%;
}
.bottom-percent-85 {
  bottom: 85%;
}
.bottom-percent-86 {
  bottom: 86%;
}
.bottom-percent-87 {
  bottom: 87%;
}
.bottom-percent-88 {
  bottom: 88%;
}
.bottom-percent-89 {
  bottom: 89%;
}
.bottom-percent-90 {
  bottom: 90%;
}
.bottom-percent-91 {
  bottom: 91%;
}
.bottom-percent-92 {
  bottom: 92%;
}
.bottom-percent-93 {
  bottom: 93%;
}
.bottom-percent-94 {
  bottom: 94%;
}
.bottom-percent-95 {
  bottom: 95%;
}
.bottom-percent-96 {
  bottom: 96%;
}
.bottom-percent-97 {
  bottom: 97%;
}
.bottom-percent-98 {
  bottom: 98%;
}
.bottom-percent-99 {
  bottom: 99%;
}

.top-percent-0 {
  top: 0%;
}
.top-percent-1 {
  top: 1%;
}
.top-percent-2 {
  top: 2%;
}
.top-percent-3 {
  top: 3%;
}
.top-percent-4 {
  top: 4%;
}
.top-percent-5 {
  top: 5%;
}
.top-percent-6 {
  top: 6%;
}
.top-percent-7 {
  top: 7%;
}
.top-percent-8 {
  top: 8%;
}
.top-percent-9 {
  top: 9%;
}
.top-percent-10 {
  top: 10%;
}
.top-percent-11 {
  top: 11%;
}
.top-percent-12 {
  top: 12%;
}
.top-percent-13 {
  top: 13%;
}
.top-percent-14 {
  top: 14%;
}
.top-percent-15 {
  top: 15%;
}
.top-percent-16 {
  top: 16%;
}
.top-percent-17 {
  top: 17%;
}
.top-percent-18 {
  top: 18%;
}
.top-percent-19 {
  top: 19%;
}
.top-percent-20 {
  top: 20%;
}
.top-percent-21 {
  top: 21%;
}
.top-percent-22 {
  top: 22%;
}
.top-percent-23 {
  top: 23%;
}
.top-percent-24 {
  top: 24%;
}
.top-percent-25 {
  top: 25%;
}
.top-percent-26 {
  top: 26%;
}
.top-percent-27 {
  top: 27%;
}
.top-percent-28 {
  top: 28%;
}
.top-percent-29 {
  top: 29%;
}
.top-percent-30 {
  top: 30%;
}
.top-percent-31 {
  top: 31%;
}
.top-percent-32 {
  top: 32%;
}
.top-percent-33 {
  top: 33%;
}
.top-percent-34 {
  top: 34%;
}
.top-percent-35 {
  top: 35%;
}
.top-percent-36 {
  top: 36%;
}
.top-percent-37 {
  top: 37%;
}
.top-percent-38 {
  top: 38%;
}
.top-percent-39 {
  top: 39%;
}
.top-percent-40 {
  top: 40%;
}
.top-percent-41 {
  top: 41%;
}
.top-percent-42 {
  top: 42%;
}
.top-percent-43 {
  top: 43%;
}
.top-percent-44 {
  top: 44%;
}
.top-percent-45 {
  top: 45%;
}
.top-percent-46 {
  top: 46%;
}
.top-percent-47 {
  top: 47%;
}
.top-percent-48 {
  top: 48%;
}
.top-percent-49 {
  top: 49%;
}
.top-percent-50 {
  top: 50%;
}
.top-percent-51 {
  top: 51%;
}
.top-percent-52 {
  top: 52%;
}
.top-percent-53 {
  top: 53%;
}
.top-percent-54 {
  top: 54%;
}
.top-percent-55 {
  top: 55%;
}
.top-percent-56 {
  top: 56%;
}
.top-percent-57 {
  top: 57%;
}
.top-percent-58 {
  top: 58%;
}
.top-percent-59 {
  top: 59%;
}
.top-percent-60 {
  top: 60%;
}
.top-percent-61 {
  top: 61%;
}
.top-percent-62 {
  top: 62%;
}
.top-percent-63 {
  top: 63%;
}
.top-percent-64 {
  top: 64%;
}
.top-percent-65 {
  top: 65%;
}
.top-percent-66 {
  top: 66%;
}
.top-percent-67 {
  top: 67%;
}
.top-percent-68 {
  top: 68%;
}
.top-percent-69 {
  top: 69%;
}
.top-percent-70 {
  top: 70%;
}
.top-percent-71 {
  top: 71%;
}
.top-percent-72 {
  top: 72%;
}
.top-percent-73 {
  top: 73%;
}
.top-percent-74 {
  top: 74%;
}
.top-percent-75 {
  top: 75%;
}
.top-percent-76 {
  top: 76%;
}
.top-percent-77 {
  top: 77%;
}
.top-percent-78 {
  top: 78%;
}
.top-percent-79 {
  top: 79%;
}
.top-percent-80 {
  top: 80%;
}
.top-percent-81 {
  top: 81%;
}
.top-percent-82 {
  top: 82%;
}
.top-percent-83 {
  top: 83%;
}
.top-percent-84 {
  top: 84%;
}
.top-percent-85 {
  top: 85%;
}
.top-percent-86 {
  top: 86%;
}
.top-percent-87 {
  top: 87%;
}
.top-percent-88 {
  top: 88%;
}
.top-percent-89 {
  top: 89%;
}
.top-percent-90 {
  top: 90%;
}
.top-percent-91 {
  top: 91%;
}
.top-percent-92 {
  top: 92%;
}
.top-percent-93 {
  top: 93%;
}
.top-percent-94 {
  top: 94%;
}
.top-percent-95 {
  top: 95%;
}
.top-percent-96 {
  top: 96%;
}
.top-percent-97 {
  top: 97%;
}
.top-percent-98 {
  top: 98%;
}
.top-percent-99 {
  top: 99%;
}
