// static
// relative
// fixed
// absolute
// sticky

.static {
  position: static;
}

.relativc {
  position: relative;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.sticky {
  position: sticky;
}
